@font-face
{
    font-family: "Simple Grunge";
    src:url('fonts/Simple Grunge.otf');
}

@font-face
{
    font-family: "RuasMediumGrunge";
    src:url('fonts/RuasMediumGrunge.ttf');
}

@font-face
{
    font-family: "A FOR A";
    src:url('fonts/A FOR A.ttf');
}

body 
{
    font-family: "Arial", serif;
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white !important;
    margin: 0;
    padding: 0;
}

a
{
    color: #ffffff;
}

a:link
{
    color: #ffffff;
}

a:visited
{
    color: #ffffff;
}

a:hover
{
    color: #ffffff;
}

a:active
{
    color: #ffffff;
}

/* Section Settings */
#home, #work, #about, #portfolio, #contact
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-wrapper
{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.image-container
{
    flex: 0 0 50%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-responsive
{
    max-width: 100%;
    height: fit-content;
}

.black-border
{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.text-container
{
    flex: 0 0 50%;
}

.divider
{
    width: 450px;
    height: 1px;
    margin-top: -50px;
    margin-bottom: 10px;
}

.section-divider
{
    width: 150px;
    height: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

h1 
{
    font-family: "Simple Grunge", serif;
    font-size: 50px;
    text-align: left;
    padding-bottom: 50px;
    text-shadow: 5px 5px rgb(0, 0, 0, 0.5);
    color: white;
}

h1.accent
{
    font-size: 50px;
    text-align: left;
    padding-bottom: 40px;
    color: #AF3223;
}

h3
{
    font-family: "Simple Grunge", serif;
    font-size: 30px;
    text-align: left;
    text-shadow: 4px 4px rgb(0, 0, 0, 0.5);
    color: white;
}

h4
{
    font-size: 25px;
    text-align: left;
}

h5
{
    font-size: 20px;
    text-align: left;
}

p
{
    font-size: 15px;
    text-align: left;
}

p.contact
{
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}

h1.title
{
    font-size: 150px;
    text-align: center;
}