---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomePanel from '../components/HomePanel.astro';
import DevPanel from '../components/DevPanel.astro';
import ProdPanel from '../components/ProdPanel.astro';
import PricingPanel from '../components/PricingPanel.astro';
import ContactPanel from '../components/ContactPanel.astro';
---

<Layout title="Tyler Myles | Game Developer & Audio Engineer">
    <Header />
    <main class="viewport">
        <HomePanel />
        <DevPanel />
        <ProdPanel />
        <PricingPanel />
        <ContactPanel />
    </main>
</Layout>
