---
import { GAMES } from '../data/games';
import { PLUGINS } from '../data/plugins';
import GameShowcase from './GameShowcase.astro';
import PluginCard from './PluginCard.astro';
import GitHubRepos from './GitHubRepos.astro';
---

<section id="panel-dev" class="panel">
    <div class="panel-header">
        <h2 class="panel-title dev-title">Game Development</h2>
    </div>


    {GAMES.map(game => (
        <GameShowcase game={game} />
    ))}

    <div class="data-block dev-glow" style="margin-bottom: 60px;">
        <h3 id="dev-plugins">Published Plugins</h3>
        <div class="fab-grid" style="margin-bottom: 0;">
            {PLUGINS.map(plugin => (
                <PluginCard plugin={plugin} />
            ))}
        </div>
    </div>

    <div class="data-block git-glow" style="margin-bottom: 60px;">
        <h3 id="git-repos">Github Repositories</h3>
        <GitHubRepos />
    </div>

</section>
