---
import type { GameSystem } from '../data/games';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<div class="nested-block">
    <h4>{title}</h4>
    <p>{desc}</p>
</div>
